.header, .nav{
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  align-items: center;
  flex: 50% auto 300px;
}

h4.header{
  color: MediumAquamarine;
  align-content: flex-start;
}

img.header{
  align-content: flex-start;
}

.nav{
  align-content: flex-end;
}

p{
  font-family: Garamond;
  font-size: 18px;
  font-weight: 100;
  color: aliceblue;
  border: 1px solid green;
}
