.header{
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  align-items: center;
}

#headline{
  color: MediumAquamarine;
  align-content: flex-start;
}

.header img{
  align-content: flex-start;
}
